#about-us{
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px 15px 0px 15px;
    color: #000000;
    line-height: 50px;
}